.b-test {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background: #74d0e4;
    font-family: $ff-main-regular;
}

body {
    background-image: url('../assets/img/colors.png');
    background-size: cover;
}
