// ----- Variables / Typography

// -----FONT-FACE

// ----- Example:
// @include fontFace(<font name>, <font path>, <font weight>, normal, <font formats>);
// Note: The font base url is defined in the fontFace mixin, at src/scss/mixins/_m--font-face
@include fontFace(Roboto-Regular, Roboto-Regular, 400, normal, ttf);
@include fontFace(Roboto-Bold, Roboto-Bold, 700, normal, ttf);

// ----- FONT FAMILY VARIBALE
$fontDefault             : Arial, sans-serif;

// ----- Examples
// $ff == $font-family
$ff-main-regular          : 'Roboto-Regular', $fontDefault;
$ff-main-bold             : 'Roboto-Bold', $fontDefault;

//----- Font size
$font-size-base         : 10px;

// ----- GLOBAL FONT SETTINGS
html {
  @include font-size-vw($font-size-base, $font-size-base, $font-size-base);
}
body {
    font-family: $fontDefault;
    -webkit-font-smoothing: antialiased;

    &.fixed {
      @include breakpoint(phone) {
        overflow: hidden;
      }
    }
}

h1 {}
h2 {}
a {
    text-decoration: none;
}
p {}
